<div class="container-fluid my-5">
  <h1>Your Cart</h1>

  <% if @cart_items.empty? %>
    <p>Your cart is empty.</p>
  <% else %>
    <!-- Cart items display -->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td>
  <div class="btn-group m-2">
    <%= form_with url: increase_quantity_cart_item_cart_path(item.id), method: :post, local: true do %>
      <%= submit_tag '+', class: 'btn btn-success btn-sm mx-1' %>
    <% end %>

    <%= form_with url: decrease_quantity_cart_item_cart_path(item.id), method: :post, local: true do %>
      <%= submit_tag '-', class: 'btn btn-danger btn-sm mx-1' %>
    <% end %>
  </div>
</td>

              <td><%= number_to_currency(item.product.price) %></td>
              <td><%= number_to_currency(item.product.price * item.quantity) %></td>
              <td>
               <%= link_to 'Remove', remove_cart_item_cart_path(item.id), method: :delete, class: 'btn btn-danger btn-sm' %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h3>Total: <%= number_to_currency(@cart_items.sum { |item| item.product.price * item.quantity }) %></h3>
    </div>

    <!-- Link to proceed to checkout -->
    <%= link_to 'Checkout', checkout_path, class: 'btn btn-primary' %>
  <% end %>
</div>
